<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gramola</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/Gramola.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class=" border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><img class="" src="~/images/Gramola-image_100.png" />Gramola</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" onclick="getBiblioteca()"><i class="fas fa-music mr-2"></i>   Biblioteca</a>
                <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#uploadSongModal" onclick="closeSidebar()"><i class="fas fa-upload mr-2"></i>   Subir música</a>
                <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#searchModal" onclick="closeSidebar()"><i class="fas fa-search mr-2"></i>   Buscar</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" class="page-background-color">
            <nav class="navbar navbar-expand-lg bg-white border-bottom row" style="margin-left:0;margin-right:0">
                <div class="col-4 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
                    <button type="button" class="btn btn-gramola" id="menu-toggle"><i class="fas fa-bars" aria-hidden="true"></i></button>
                </div>
                <div class="col-8 col-sm-10 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                    <h4 class="js-navBar_title my-auto text-truncate">Gramola</h4>
                </div>
            </nav>

            <div class="container-fluid" id="pageMainContent">

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    @* MODAL UPLOAD MUSIC *@
    <!-- Modal -->
    <div class="modal fade" id="uploadSongModal" tabindex="-1" role="dialog" aria-labelledby="uploadSongModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadSongModalLabel">Subir música</h5>
                    <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="form js-uploadSongForm">
                            <div class="input-group mb-3">
                                <div class="custom-file" style="width:100%">
                                    <input type="file" class="custom-file-input btn btn-gramola" id="inputGroupFile" style="width:100%" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputArtist">Artista</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Artista" aria-label="Artista" aria-describedby="inputArtist" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputTitle">Título</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Título" aria-label="Título" aria-describedby="inputTitle" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputUploader">Propietario</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Propietario" aria-label="Propietario" aria-describedby="inputUploader" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputStyle">Estilo</label>
                                </div>
                                <select class="custom-select form-select" id="inputStyle" required>
                                    <option selected>Seleccionar...</option>
                                    <option value="Pop">Pop</option>
                                    <option value="Rock">Rock</option>
                                    <option value="HardRock">Hard Rock</option>
                                    <option value="Rap">Rap</option>
                                    <option value="Reggaeton">Reggaeton</option>
                                    <option value="Classic">Classic</option>
                                    <option value="Disco">Disco</option>
                                    <option value="Reggae">Reggae</option>
                                    <option value="Other">Otro</option>
                                    <option value="Unknown">Desconocido</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-gramola js-subirMusica" onclick="uploadSong()">Subir</button>
                </div>
            </div>
        </div>
    </div>
    @* ****************** *@

    @* MODAL SEARCH MUSIC *@
    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Buscar música</h5>
                    <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="form js-searchSongsForm">
                            @*<div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputSearchBy">Buscar por</label>
                                </div>
                                <select class="custom-select form-select" id="inputSearchBy" onselect="refreshModalContent()">
                                    <option selected>Seleccionar...</option>
                                    <option value="Artist">Artista</option>
                                    <option value="Title">Título</option>
                                    <option value="Uploader">Propietario</option>
                                    <option value="Style">Estilo</option>
                                </select>
                            </div>*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSearch">Buscar</span>
                                </div>
                                <input type="text" class="form-control js-searchWord" placeholder="Escribir..." aria-label="Buscar" aria-describedby="inputSearch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-gramola js-buscarMusica" onclick="searchSongs()">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    @* ****************** *@

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/upload.js"></script>

    <script src="~/js/biblioteca.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    @RenderBody();
</body>

</html>
